<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Interactive Map</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
        <style>
            body { 
                margin: 0; padding: 0; 
            }
            #map { 
                position: absolute; top: 0; bottom: 0; width: 100%; 
            }
        </style>
    </head>
    <body>
        <style>
            .filter-group {
                font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
                font-weight: 600;
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
                border-radius: 3px;
                width: 120px;
                color: #fff;
            }

            .filter-group input[type='checkbox']:first-child + label {
                border-radius: 3px 3px 0 0;
            }

            .filter-group label:last-child {
                border-radius: 0 0 5px 3px;
                border: none;
            }

            .filter-group input[type='checkbox'] {
                display: none;
            }

            .filter-group input[type='checkbox'] + label {
                background-color: #3386c0;
                display: block;
                cursor: pointer;
                padding: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            }

            .filter-group input[type='checkbox'] + label {
                background-color: #3386c0;
                text-transform: capitalize;
            }

            .filter-group input[type='checkbox'] + label:hover,
            .filter-group input[type='checkbox']:checked + label {
                background-color: #4ea0da;
            }

            .filter-group input[type='checkbox']:checked + label:before {
                content: '✔';
                margin-right: 5px;
            }
        </style>
        <div id="map"></div>
        <nav id="filter-group" class="filter-group"></nav>
        
        <!-- <script src="script.js"></script> -->

        {% load static %}
        <script type="text/javascript">
            var csrfToken = "{{ csrf_token }}"; // Assign the CSRF token value
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type = "text/javascript">
            var jsonUrl = "{% static 'map_source.json' %}";
            let places;
            fetch(jsonUrl)
                .then((res) => res.json())
                .then((jsonData) => {
                    places = jsonData;
                })
                .catch((error) => console.error("Error fetching JSON:", error));



            mapboxgl.accessToken = 'pk.eyJ1Ijoid2FzaTAwMDA3IiwiYSI6ImNsMmxkc2J0bTFnODgzY2x3ZWx4NXd1OXMifQ.o9Tr7BRTeDo-C45jjo810A';  
            let filterGroup = document.getElementById('filter-group');
            let map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v12?optimize=true',
                center: [-0.118092, 51.509865],
                zoom: 5
            });

            let popupContent = ``;

            let markerMap = {},markertype = {};
            let layermap = {};
            map.on('load', () => {
                let openPopups = [];
                function closeAllPopups() {
                    for (let popup of openPopups) {
                        popup.remove();
                    }
                    openPopups = []; // Clear the array
                }
                
                for (let mapData of places.map) {
                    let mapId = mapData.id;
                    console.log(mapId);

                    let symbol = mapId;
                    let layerID = `poi-${mapId}`;

                    let input = document.createElement('input');
                    input.type = 'checkbox';
                    input.id = layerID;
                    input.checked = false;
                    filterGroup.appendChild(input);

                    let label = document.createElement('label');
                    label.setAttribute('for', layerID);
                    label.textContent = symbol;
                    filterGroup.appendChild(label);

                    let markers = [],layers = [],markers_type = [];
                    let markerClicked = false;

                    for (let polygon of mapData.polygons) {
                        let info = '';
                        let map_layerID = '';
                        if (mapId == "County Lines"){
                            map_layerID = `poi-${polygon.features.properties["name"]}`;
                        }else{
                            map_layerID = `poi-${polygon.features.properties["ICB23CD"]}`;
                        }
                        

                        // Mark popup for color
                        let color = polygon.color;
                        let [longitude, latitude] = color;
                        let marker = new mapboxgl.Marker()
                            .setLngLat([longitude, latitude]);
                        // Setting popup html
                        let markerPopup = new mapboxgl.Popup();
                        markerPopup.setHTML(popupContent);
                        marker.setPopup(markerPopup);  
                        markers.push(marker);
                        markers_type.push(0);

                        // Mark popup for text
                        let text = polygon.text;
                        let [longitude1, latitude1] = text;
                        let marker1 = new mapboxgl.Marker()
                            .setLngLat([longitude1, latitude1]);
                        // Setting popup html
                        let markerPopup1 = new mapboxgl.Popup();
                        marker1.setPopup(markerPopup1); 

                        // if any marker are clicked so that the info popup does not appear
                        marker.getElement().addEventListener('click', () => {
                            markerClicked = true;
                        });
                        
                        
                        

                        if (!map.getLayer(layerID)) {
                            
                            $.ajax({
                                    url: '/get_info_data/',
                                    data: { mapID: map_layerID }, // Send the mapID as a parameter
                                    dataType: 'json',
                                    success: function(data) {
                                        let polygon_color = '#ffffff';
                                        // Populate the table with fetched data
                                        for (let obj of data) {
                                            polygon_color = obj.color;
                                        }

                                        let geojson = polygon.features;
                                        map.addSource(map_layerID, {
                                            type: 'geojson',
                                            data: geojson,
                                        });
                                        map.addLayer({
                                            'id': map_layerID,
                                            'type': 'fill',
                                            'source': map_layerID, // reference the data source
                                            'layout': {
                                                'visibility': 'none',
                                            },
                                            'paint': {
                                            'fill-color': polygon_color, // blue color fill
                                            'fill-opacity': 0.5
                                            }

                                        });
                                        // Add a black outline around the polygon.
                                        map.addLayer({
                                            'id': map_layerID + 'outline',
                                            'type': 'line',
                                            'source': map_layerID,
                                            'layout': {
                                                'visibility': 'none'
                                            },
                                            'paint': {
                                            'line-color': '#000',
                                            'line-width': 3
                                            }
                                        });

                                        layers.push(map_layerID);
                                    }
                                });

                            let label_places = {
                                'type': 'FeatureCollection',
                                'features': [
                                    {
                                        'type': 'Feature',
                                        'properties': {
                                            'description': polygon.features.properties["name"]
                                        },
                                        'geometry': {
                                            'type': 'Point',
                                            'coordinates': [longitude1, latitude1]
                                        }
                                    }]
                                }
                            map.addSource(map_layerID + 'labels', {
                                'type': 'geojson',
                                'data': label_places
                            });

                            map.addLayer({
                                'id': map_layerID + 'labels',
                                'type': 'symbol',
                                'source': map_layerID + 'labels',
                                'layout': {
                                    'text-field': ['get', 'description'],
                                    'text-variable-anchor': ['top', 'bottom', 'left', 'right'],
                                    'text-radial-offset': 0.5,
                                    'text-justify': 'auto',
                                    'visibility': 'none'
                                },
                                paint: {
                                    "text-color": "red"
                                }
                            });

                           
                            
                        }

                        map.on('click', map_layerID, (e) => {
                            // Check if the layer's visibility is 'visible' before showing the popup
                            if (map.getLayoutProperty(map_layerID, 'visibility') === 'visible' && !markerClicked) {
                                let popup = new mapboxgl.Popup({
                                    maxWidth: 'none', // Allow the popup to be wider than the map container
                                });

                                // Fetch the data using AJAX
                                $.ajax({
                                    url: '/get_info_data/',
                                    data: { mapID: map_layerID }, // Send the mapID as a parameter
                                    dataType: 'json',
                                    success: function(data) {
                                        let tableHTML = `
                                            <table id= "myTable" border="1" style="width: 400px;"> <!-- Adjust the width as needed -->
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Profile of Needs</th>
                                                    <th>Registered Providers</th>
                                                    <th>Care Providers</th>
                                                    <th>ICB Contacts</th>
                                                    <th>Void Agreement</th>
                                                    <th>Additional Notes</th>
                                                    <th>Delete</th>
                                                    <th>Save Edit</th>
                                                </tr>
                                        `;

                                        // Populate the table with fetched data
                                        for (let obj of data) {
                                            tableHTML += `
                                                <tr>
                                                    <td contenteditable="true" class="editable">${obj.location}</td>
                                                    <td contenteditable="true" class="editable"">${obj.profile_of_needs}</td>
                                                    <td contenteditable="true" class="editable"">${obj.registered_providers}</td>
                                                    <td contenteditable="true" class="editable"">${obj.care_providers}</td>
                                                    <td contenteditable="true" class="editable"">${obj.icb_contacts}</td>
                                                    <td contenteditable="true" class="editable"">${obj.void_agreement}</td>
                                                    <td contenteditable="true" class="editable"">${obj.additional_notes}</td>
                                                    <td> 
                                                        <button class="deleteBtn" data-item-id=${obj.id}>Delete</button>
                                                    </td>
                                                    <td><button class="saveBtn" data-item-id=${obj.id}>Save Edit</button></td>
                                                </tr>
                                            `;
                                        }

                                        tableHTML += `</table>`;

                                        // Set the popup's HTML content
                                        popup.setLngLat(e.lngLat)
                                            .setHTML(tableHTML)
                                            .addTo(map);

                                        openPopups.push(popup);
                                        var deleteButtons = document.querySelectorAll('.deleteBtn');

                                        if (deleteButtons) {
                                            deleteButtons.forEach(function(deleteBtn) {
                                                deleteBtn.addEventListener('click', function() {
                                                    // Save the data
                                                    var itemId = this.dataset.itemId;

                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/delete',
                                                        data: {
                                                            id: itemId,
                                                            csrfmiddlewaretoken: csrfToken
                                                        },
                                                        success: function() {
                                                            console.log("Data deleted");
                                                            // Close the current popup
                                                            popup.remove();
                                                        },
                                                        error: function(xhr, status, error) {
                                                            console.error('Error:', error);
                                                        }
                                                    });
                                                });
                                            });
                                        } else {
                                                console.error("Element with ID 'deleteBtn' not found.");
                                            }


                                            var editButtons = document.querySelectorAll('.saveBtn');
                                            var table = document.getElementById('myTable');
                                            if (editButtons) {
                                                editButtons.forEach(function(saveBtn) {
                                                saveBtn.addEventListener('click', function() {
                                                    
                                                    var itemId = this.dataset.itemId;
                                                    var row = this.closest('tr');
                                                    var editableCells = row.querySelectorAll('.editable');
                                                   
                                                    var location = editableCells[0].innerText;
                                                    var profile_of_needs = editableCells[1].innerText;
                                                    var registered_providers = editableCells[2].innerText;
                                                    var care_providers = editableCells[3].innerText;
                                                    var icb_contacts = editableCells[4].innerText;
                                                    var void_agreement = editableCells[5].innerText;
                                                    var additional_notes = editableCells[6].innerText;

                                                    // Perform an AJAX request to send the updated data to the server
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/update', // Update this URL according to your Django configuration
                                                        data: {
                                                            id: itemId,
                                                            location: location,
                                                            profile_of_needs:profile_of_needs,
                                                            registered_providers:registered_providers,
                                                            care_providers:care_providers,
                                                            icb_contacts:icb_contacts,
                                                            void_agreement:void_agreement,
                                                            additional_notes:additional_notes,
                                                            csrfmiddlewaretoken: csrfToken
                                                        },
                                                        success: function () {
                                                            console.log("Data updated");
                                                            popup.remove();
                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.error('Error:', error);
                                                        }
                                                    });
                                                });
                                            });

                                            }

                                        // Add the "Add Info" button outside the table
                                        let addInfoButton = document.createElement('button');
                                        addInfoButton.textContent = 'Add Info';
                                        addInfoButton.addEventListener('click', function() {
                                            // Replace the existing popup content with the form
                                            let newPopupContent = `
                                                <p>Location:</p>
                                                <input type="text" name="textLocation" id="textLocation">
                                                
                                                <p>Profile of Needs:</p>
                                                <input type="text" name="textProfile" id="textProfile">
                                            
                                                <p>Registered Providers:</p>
                                                <input type="text" name="textRegistered" id="textRegistered">
                                            
                                                <p>Care Providers:</p>
                                                <input type="text" name="textCare" id="textCare">

                                                <p>Commissioning / ICB Contacts: </p>
                                                <input type="text" name="textICB" id="textICB">
                                                
                                                <p>Nominations and Void Agreements: </p>
                                                <input type="text" name="textAgreements" id="textAgreements">

                                                <p>Additional Notes: </p>
                                                <input type="text" name="textNotes" id="textNotes">

                                                <p>Enter a color code:</p>
                                                <input type="color" name="colorInput" id="colorInput">
                                                <button id="setTextBtn">Enter</button>
                                            `;

                                            popup.setHTML(newPopupContent);
                                            // Add click event for the "Enter" button in the form
                                            document.getElementById('setTextBtn').addEventListener('click', function() {
                                                // Save the data
                                                let setColor = document.getElementById('colorInput');

                                                map.setPaintProperty(map_layerID, 'fill-color', setColor.value); 
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '/create',
                                                    data: {
                                                        setColor: $('#colorInput').val(),
                                                        setLocation: $('#textLocation').val(),
                                                        setProfile: $('#textProfile').val(),
                                                        setRegistered: $('#textRegistered').val(),
                                                        setCare: $('#textCare').val(),
                                                        setICB: $('#textICB').val(),
                                                        setAgreements: $('#textAgreements').val(),
                                                        setNotes: $('#textNotes').val(),
                                                        setMapID: map_layerID,                            
                                                        csrfmiddlewaretoken: csrfToken
                                                    },
                                                    success: function() {
                                                        console.log("Data saved");
                                                        // Close the current popup
                                                        popup.remove();
                                                    }
                                                });
                                            });
                                        });

                                        // Insert the button above the table
                                        let popupContent = document.querySelector('.mapboxgl-popup-content');
                                        popupContent.insertBefore(addInfoButton, popupContent.firstChild);
                                    }
                                });
                            }
                            markerClicked = false;
                        });


                             
                        // Change the cursor to a pointer when
                        // the mouse is over the states layer.
                        map.on('mouseenter', layerID, () => {
                            map.getCanvas().style.cursor = 'pointer';
                        });
                             
                        // Change the cursor back to a pointer
                        // when it leaves the states layer.
                        map.on('mouseleave', layerID, () => {
                            map.getCanvas().style.cursor = '';
                        });

                        
                    }

                    markerMap[mapId] = markers;
                    markertype[mapId] = markers_type;
                    layermap[mapId] = layers;
                    

                    input.addEventListener('change', (e) => {
                        let visibility = e.target.checked ? 'visible' : 'none';
                        for(let layers_map of layermap[mapId]){
                            map.setLayoutProperty(layers_map, 'visibility', visibility);
                            map.setLayoutProperty(layers_map +'outline', 'visibility', visibility);
                            map.setLayoutProperty(layers_map +'labels', 'visibility', visibility);
                        }
                    });
                }
            });


            
                

        </script>

    </body>
</html>